<%- include('../partials/header') %>

<div class="card-deck row mb-3 text-center">
    <div class="col-4 d-flex flex-column">
    <% for(const question of questions) { %> 
        <div class="card mb-4">
            <div class="card-body">
                <h3><%= question.question %></h3>
            </div>
        </div>
    <% } %>
    </div>
</div> 

<%- include('../partials/footer') %>