<%- include('../partials/header') %>


    <h2 class="mb-5">Administrateur</h2>

    <div class="card text-center">
        <div class="card-header">
            <button type="radio" name="btn-admin" class="btn-create btn btn-outline-primary px-4 mx-2">Create</button>
            <button type="radio" name="btn-admin" class="btn-update btn btn-outline-success px-4 mx-2">Update</button>
            <button type="radio" name="btn-admin" class="btn-delete btn btn-outline-danger px-4 mx-2">Delete</button>
        </div>


        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>


          <a href="#" class="btn btn-primary">Go somewhere</a>


        </div>
      </div>
   
<hr>

<%- include('../partials/footer') %>