<%- include('../partials/header') %>

<form method="POST" >
    <p>Êtes-vous sûre de vouloir supprimer ce niveau ?</p>
    <button type="submit">SUPPRIMER</button>
</form>

<%- include('../partials/footer') %>